h1 {
  color: blue;
  font-size: 100px;
  font-family: helvetica;
}
img {
  margin: 0px 0px 0px 0px;
}
.resize {
width: 100vw;
}
ul {
  padding: 40px;
  background: rgba(255,255,255);
}

li {
  display: inline;
  padding: 0px 10px 0px 10px;
}

p {
  color: blue;
  font-size: 50px;
  font-family: helvetica;
  padding: 0px 80px 0px 80px;

}

body {
    background-color: white;
}
